################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpoLvtTest/bin/Debug
/SpoLvtTest/obj
